.App {
  display: inline-flex;
  justify-content: flex-start;
}
li {
  list-style-type: none;
}

.ListBreedsContainer {
  display: inline-flex;
  overflow-y: scroll;
  height: 350px;
  width: 300px;
  flex-direction: column;
  background-color: azure;
  border-right: black solid 2px;
  flex-grow: 1;
}

.ListBreedsElement {
  flex: 1 auto;
}

.OneDogInfo {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  flex-basis: auto;
}
