.App{
  display: flex;
  justify-content: flex-start;
}
.ListBreedsContainer{
  display:inline-flex;
flex-direction: column;
  background-color: azure;
  border-right: black solid 2px;
}
.ListBreedsElement{
  flex:1 auto;
}

.OneDogInfo{
  display:flex;
  flex-direction: column;

}
